include:
  - remote: "https://raw.githubusercontent.com/stainless-api/upload-openapi-spec-action/cj/combine-build-preview-merge/build/gitlab-ci.yml"
  - remote: "https://raw.githubusercontent.com/stainless-api/upload-openapi-spec-action/cj/combine-build-preview-merge/preview/gitlab-ci.yml"
  - remote: "https://raw.githubusercontent.com/stainless-api/upload-openapi-spec-action/cj/combine-build-preview-merge/merge/gitlab-ci.yml"

.common:
  variables:
    ORG: stainless-cjquines
    PROJECT: cjquines-prod-19
    OAS_PATH: spec.yml
    FAIL_ON: error
    STAINLESS_API_KEY: $STAINLESS_API_KEY
    GITLAB_TOKEN: $GITLAB_TOKEN
    MAKE_COMMENT: true
    SHA: $CI_COMMIT_SHA

build:
  extends: [.common, .build-sdk]

preview:
  extends: [.common, .preview]
  only:
    - merge_requests

merge:
  extends: [.common, .merge]
  rules:
    - if: $CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"
