include:
  - remote: "https://raw.githubusercontent.com/stainless-api/upload-openapi-spec-action/cj/combine-build/build/gitlab-ci.yml"

.common:
  variables:
    ORG: stainless-cjquines
    PROJECT: cjquines-prod-19
    OAS_PATH: spec.yml
    FAIL_ON: error
    STAINLESS_API_KEY: $STAINLESS_API_KEY
    GITLAB_TOKEN: $GITLAB_TOKEN
    MAKE_COMMENT: true
    SHA: $CI_COMMIT_SHA
    LOG_LEVEL: debug

build:
  extends: [.common, .build-sdk]
